<header class="masthead">

  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo" class="logo">

  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li>
      <i class="fa fa-newspaper"></i>
      <a class="masthead-link" href="#">Today’s Paper</a>
    </li>
    <li>
      <i class="fa fa-video"></i>
      <a class="masthead-link" href="#">Video</a>
    </li>
    <li><a href="#">77°F</a></li>
    <li><button type="button" name="button">AAO <strong>+100%</strong></button></li>
    
  </ul>

</header>